
#shapes td {
    width: 20px;
    height: 20px;
    background-color: white;
}

#packing td {
    width: 20px;
    height: 20px;
    background-color: white;
    text-align: center;
}

#shapes td:hover {
    background-color: silver;
}

.panel-red .panel-heading {
    background-color: red !important;
}

#debug {
    font-family: "Courier New", monospace;
    white-space: pre;
}
